body {
    font-size: 1.2rem;
}

h1,
h2 {
    text-align: center;
}

.form-group label[for="password"] {
    font-size: 1.9rem;
    margin-left: 250px;
    font-weight: bold;
}

.form-group label[for="name"] {
    font-size: 1.9rem;
    margin-left: 267px;
    font-weight: bold;
}

.form-group label[for="email"] {
    font-size: 1.9rem;
    margin-left: 210px;
    font-weight: bold;
}

.form-group label[for="subject"] {
    font-size: 1.9rem;
    margin-left: 310px;
    font-weight: bold;
}

.form-group label[for="message"] {
    font-size: 1.9rem;
    margin-left: 215px;
    font-weight: bold;
}

.form-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;
}

.btn:hover {
    background-color: #0056b3;
}

.review-show-button {
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 478px;
}

.review-show-button:hover {
    background-color: #0056b3;
}

.form-group textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: -45px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 20px;
}

.form-group input[type="email"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 20px;
}

.form-group {
    width: 100%;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.send-email-btn {
    margin-top: 55px;
}

.my-5 {
    border: 0;
    height: 2px;
    width: 100%;
    background-color: #808080;
    margin: 40px auto;
}

.error-messages {
    color: #ff0000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    display: block;
    clear: both;
    position: relative;
    top: -20px;
}

.error-messages-message {
    color: #ff0000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    display: block;
    clear: both;
    position: relative;
    top: 35px;
}

.modal {
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.delete-review-button{
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #fa0303;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-review-button:hover {
    background-color: #a11d2a;
}

@media (max-width: 768px) {
    h1,
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .form-inline {
        flex-direction: column;
        
    }

    .form-group label[for="password"],
    .form-group label[for="name"],
    .form-group label[for="email"],
    .form-group label[for="subject"],
    .form-group label[for="message"] {
        font-size: 1.2rem;
        margin-left: 0;
        text-align: left;
    }

    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 90%;
        max-width: none;
        margin-left: 0;
    }

    .btn {
        font-size: 1rem;
        padding: 8px 16px;
        margin-left: 0;
    }

    .send-email-btn {
        margin-top: 20px;
    }

    .review-show-button {
        background-color: #007bff;
        color: white;
        font-size: 1.2rem;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 478px;
    }
    
    .review-show-button:hover {
        background-color: #0056b3;
    }

    .my-5 {
        margin: 20px auto;
    }

    .error-messages,
    .error-messages-message {
        font-size: 14px;
        top: -15px;
    }
}