.thanks-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thanks-page__message {
    font-weight: bold;
    font-size: 24px;
    margin-top: -30px;
    text-align: center;
}

.thanks-page-bg__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    text-align: center;
    font-family: serif;
    opacity: 0.05;
    transform: translate(-50%, -50%);
}

.thanks-page-bg__text {
    font-size: 18vw;
}

.return-btn {
    margin: 32px auto 0;
}

.header {
    display: none;
}

body {
    overflow: hidden;
}


@media (max-width: 768px) {
    .thanks-page__message {
        font-size: 18px;
        margin-top: 0;
        padding: 0 20px;
    }

    .thanks-page-bg__text {
        font-size: 30vw;
    }

    .thanks-page {
        padding: 20px;
        height: auto;
    }

    .thanks-page__inner {
        padding: 20px;
        text-align: center;
    }

    .thanks-page-bg__inner {
        font-size: 14vw;
    }

    .return-btn {
        margin-top: 20px;
        width: 100%;
        padding: 15px;
    }
}