.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table-bordered {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.table th {
    background-color: #2196f3;
    color: #000000;
    text-align: center;
    padding: 15px;
    font-size: 1.9em;
}

.table td {
    text-align: center;
    padding: 15px;
    font-size: 1.9em;
}

.table tbody tr:nth-child(even) {
    background-color: #2196f3;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    font-size: 1.5em;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #2196f3;
    color: #fff;
    border-radius: 5px;
}

.pagination .active span {
    background-color: #2196f3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

@media (max-width: 768px) {

    .container {
        padding: 15px;
    }

    .table {
        font-size: 1em;
    }

    .card-header {
        font-size: 24px;
    }

    .table th,
    .table td {
        padding: 10px;
        font-size: 1.2em;
    }

    .pagination li a,
    .pagination li span {
        font-size: 1.2em;
        padding: 3px 6px;
    }

    
    .card-body {
        padding: 15px;
    }

   
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }
}