.header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sort__select {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.header__sort {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-form__heading {
    font-size: 40px;
    text-align: center;
}

.select-box__label {
    display: inline-block;
}

.select-box__item {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    height: 42px;
    box-sizing: border-box;
    margin-right: 10px;
    width: 110px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.search-form {
    padding: 8px 8px 8px 40px;
    height: 40px;
    width: 400px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 24px;
    color: #888;
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.shop-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.shop-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.shop-info {
    margin-bottom: 10px;
    font-weight:bold;
}

.shop-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-details h3 {
    font-size: 1.9em;
    margin-bottom: 10px;
}

.shop-details p {
    font-size: 1.2em;
    color: #666;
}

.details-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.3em;
    font-weight:bold;
}

.details-button:hover {
    background-color: #0056b3;
}

.favorite-button {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.favorite-icon {
    font-size: 40px !important;
    color: #ccc;
    transition: color 0.3s ease;
}

.favorite-icon.active {
    color: red;
    animation: glow 0.5s ease forwards;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px red, 0 0 20px red;
    }
    100% {
        text-shadow: 0 0 20px red, 0 0 30px red;
    }
}

.favorite-button.disabled .favorite-icon {
    color: #ccc;
    cursor: not-allowed;
}

.shop-add {
    text-align: center;
    margin-bottom: 20px;
}

.add-button {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.add-button:hover {
    color: #3F5AF2;
}

.add-icon {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 8px;
    transition: color 0.3s;
}

.add-icon:hover {
    color: #3F5AF2;
}

@media (max-width: 768px) {
    .header__sort {
        flex-direction: column;
        align-items: flex-start;
    }

    .sort__select {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    .select-box__item,
    .search-form {
        width: 100%;
        margin-bottom: 10px;
    }

    .shop-list {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 10px;
    }

    .shop-item {
        border-radius: 8px;
    }

    .shop-details h3 {
        font-size: 1.5em;
    }

    .shop-details p {
        font-size: 1em;
    }

    .details-button {
        font-size: 1.1em;
        padding: 8px 16px;
    }

    .favorite-icon {
        font-size: 30px;
    }

    .add-button {
        font-size: 20px;
    }

    .add-icon {
        font-size: 28px;
    }

    .search-box {
        width: 100%;
        margin-top: 10px;
    }
}